body.black{
    background-color: #000;
    color: #fff;
}

body.white{
    background-color: #fff;
    color: #000;
}

#logo{
    width: 100px;
}

.container{
    padding-top: 20px;
}

form input{
    margin-bottom: 20px;
}

form input.sub_btn{
    margin-top: 20px;
}

#control{
    margin-bottom: 40px;
}